body {
    padding: 2vh 3vw;
}

h1 {
    margin-left:0.5em;
}

h1, h2, h3, h4, h5 h6 {
    margin-top: 0;
    display: inline;
}

form {
    display: inline;
}

fieldset {

}

legend {

}

details, .highcharts-empty-details {
    padding-left: 1em;
}

.highcharts-empty-details {
    padding-left: 2em;
}

summary, .highcharts-empty-summary {
    padding-bottom: 0.5em;
    padding-top: 0.375em;
    padding-left: 0.5em;
}

.highcharts-menu-column {
    display: inline;
}

.highcharts-column-left {
    display: inline-block;
    min-width: 16em;
    /* margin-bottom: 2.5em; */
}

.highcharts-column-right {
    display: inline;
}

.highcharts-menu-group {

}

.highcharts-menu-group-1 {
    
}

.highcharts-menu-group-2 {

}

.highcharts-menu-group-3 {

}

.highcharts-menu-hint {

}

.highcharts-menu-hidden {
    display: none;
}

.highcharts-menu-indeterminant {

}

.highcharts-menu-slider-line {
    /* display: inline; */
}

.highcharts-menu-slider-wrapper {
    left: 0;
    /* top: -1.95em; */
    padding-top: 0.2em;
    position: relative;
    text-align: center;
    display: inline-block;
}

.highcharts-menu-slider-disabled {
    color: #767676
}


.highcharts-menu-slider-option {
    text-align: center;
    padding: 0 0.75em;
    display: inherit;
}

.highcharts-menu-slider-option input {
    text-align: center;
    display: block;
    margin: 0.2em auto 0;
}

.highcharts-menu-slider-option label {

}

.highcharts-menu-checkbox {

}

.highcharts-menu-checkbox-label {

}

input[type=radio], input[type=checkbox] {
    position: relative;
    top: 0.2em;
    height: 2em;
    width: 2em;
}

input[type=checkbox] {
    margin: 0 0.75em;
    top: 0.4em;
}

.highcharts-menu-hidden-checkbox {
    display: none;
}

details > summary {
    list-style-type: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    content: '\25BA';
    padding-right: .1em;
}

details[open] > summary::before {
    content: '\25BC';
    padding-right: 0;
}

summary {
    border: 1px solid #ffffff00;
}

summary:hover {
    cursor: pointer;
    background-color: #f9fdff;
    border: 1px dashed #767676;
    border-radius: 8px;
}

/* container */
.highcharts-responsive-two-columns {
    display:flex;
    flex-wrap:wrap;
}

/* columns */
.highcharts-responsive-two-columns > * {
    width:100%;
    padding:1rem;
}

/* tablet breakpoint */
@media (min-width:1079px) {
    .highcharts-responsive-column-menu {
        width:32%;
    }
    .highcharts-responsive-column-chart {
        width:62%;
        height: 90vh;
    }
}

#menu {
    border: 1px solid #767676;
    border-radius: 10px;
    max-height: 90vh;
    overflow: scroll;
}

input:hover {
    cursor: pointer;
}

.highcharts-hiding-children .highcharts-hide-unavailable {
    display: none;
}

.highcharts-hide-unavailable {
    color: #767676;
    font-weight: 100;
}

.highcharts-visible-alt {
    display: block;
    position: absolute;
}