body {
    padding: 3em;
}

h1, h2, h3, h4, h5 h6 {
    margin-top: 0;
    display: inline;
}

form {
    display: inline;
}

fieldset {

}

legend {

}

details, .highcharts-empty-details {
    padding-bottom: 0.5em;
    padding-left: 1em;
}

.highcharts-empty-details {
    padding-left: 2em;
}

summary, .highcharts-empty-summary {
    padding-bottom: 0.25em;
    padding-top: 0.375em;
}

.highcharts-menu-column {
    display: inline;
}

.highcharts-column-left {
    display: inline-block;
    min-width: 16em;
}

.highcharts-column-right {
    display: inline;
}

.highcharts-menu-group {

}

.highcharts-menu-group-1 {
    
}

.highcharts-menu-group-2 {

}

.highcharts-menu-group-3 {

}

.highcharts-menu-hint {

}

.highcharts-menu-hidden {
    display: none;
}

.highcharts-menu-indeterminant {

}

.highcharts-menu-slider-line {
    display: inline;
}

.highcharts-menu-slider-wrapper {
    left: 0;
    top: -1.95em;
    position: relative;
    text-align: center;
    display: inline-block;
}

.highcharts-menu-slider-disabled {
    color: #767676
}


.highcharts-menu-slider-option {
    text-align: center;
    padding: 0 0.75em;
    display: inherit;
}

.highcharts-menu-slider-option input {
    text-align: center;
    display: block;
    margin: 0.2em auto 0;
}

.highcharts-menu-slider-option label {

}

.highcharts-menu-checkbox {

}

.highcharts-menu-checkbox-label {

}

input[type=radio], input[type=checkbox] {
    position: relative;
    top: 0.2em;
    height: 2em;
    width: 2em;
}

input[type=checkbox] {
    margin: 0 0.75em;
    top: 0.4em;
}

details > summary {
    list-style-type: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

details > summary::before {
    content: '\25BA';
}

details[open] > summary::before {
    content: '\25BC';
}